// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

 html {
	box-sizing: border-box;
	margin-top: 0 !important;
	overflow-y: scroll;
	background-color: $color-background;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

/**
 * Body Styles
 */

body {
	min-height: 100vh;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
}

/**
 * Sets Page to grow to fill body, forcing footer to the bottom
 */

.page {
	flex-grow: 1;
}

.page-fade {
	opacity: 0;
	transition: opacity 0.5s;
}

.page-fade-show {
	opacity: 1;
}

.display-backwards{
	flex-direction: row-reverse;
}
/**
 * Basic styles for links
 */

a {
	color: $color-text;
	text-decoration: none;
	@include on-event {
		color: $color-text-secondary;
		text-decoration: underline;
	}
}

footer{
	color: $color-text-light;
	a{
		color: $color-text-light;
	}
	ul {
		li {
			&::before {
				content: ""; 
				display: none;

			}
		}
	}
} 
/**
 * Basic styles for lists
 */

ul {
	margin: 0;
	padding: 0;
	li {
		list-style: none;
		padding-bottom: 10px;
	}
}

/**
 * Basic styles for img
 */

img,
.img {
	height: auto;
	max-width: 100%;

	&--cover{
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
	&--contain{
		height: 100%;
		width: 100%;
		object-fit: contain;
	}
}

ul {
	li {
		&::before {
			content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
			color: $color-primary; /* Change the color */
			font-weight: bold; /* If you want it to be bold */
			display: inline-block; /* Needed to add space between the bullet and the text */
			width: 1em; /* Also needed for space (tweak if needed) */
		}
	}
}

ol {
	li {
		list-style: decimal;
		list-style-position: inside;
	}
}

 // Mixin for border
 @mixin content-border() {
	border: 1px $color-primary-dark solid;
	padding: $padding-md $padding-lg $padding-md $padding-lg;
  }