// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face{
    font-family: Open Sans;
    src: url('https://fonts.googleapis.com/css?family=Open+Sans');
}
@font-face {
  font-family: 'changaone-regular';
  src: url('assets/fonts/changaone-regular-webfont.woff') format('woff'), url('assets/fonts/ChangaOne-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'changaone-italic';
  src: url('assets/fonts/changaone-italic-webfont.woff') format('woff'), url('assets/fonts/ChangaOne-Italic.ttf')  format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'montserrat-regular';
  src: url('assets/fonts/montserrat-regular-webfont.woff') format('woff'), url('assets/fonts/Montserrat-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-bold';
  src: url('assets/fonts/montserrat-bold-webfont.woff') format('woff'), url('assets/fonts/Montserrat-Bold.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}