/**
 * Basic typography style for copy text
 */

 body {
	color: $color-text;
	font: normal 125% / 1.4 $primary-font-stack;
}

/* First Paragraph that is larger than rest of content */

.lead {
	font-size: 125%;
	font-style: italic;
}

@mixin heading {
	font-family: $heading-font-stack;
	font-weight: 500;

	&--light {
		color: $color-text-light;
	}
}

@mixin title {
	font-family: $primary-font-stack;
	font-weight: 500;

	&--light {
		color: $color-text-light;
	}
}

h1,
.h1 {
	@include heading;

	/* Mobile, Tablet, Desktop Font Settings */
	@include font-size(30px, 50px, 70px);
	@include line-height(30px, 50px, 70px);
	margin: 0;
}

h2,
.h2 {
	@include title;
	text-transform: uppercase;

	/* Mobile, Tablet, Desktop Font Settings */
	@include font-size(35px, 35px, 35px);
	@include line-height(35px, 35px, 35px);
	margin: 0;
}

h3,
.h3 {
	@include title;
	color: $color-text-light;
	text-transform: uppercase;
	margin: 0;
	/* Mobile, Tablet, Desktop Font Settings */
	@include font-size(25px, 25px, 25px);
	@include line-height(25px, 25px, 25px);
	&--large{
		@include heading;
		text-transform: initial;
		/* Mobile, Tablet, Desktop Font Settings */
		@include font-size(25px, 40px, 50px);
		@include line-height(25px, 40px, 50px);
		
	}
}

h4,
.h4 {
	@include title;
}

h5,
.h5 {
	@include title;
}

h6,
.h6 {
	@include title;
}

p{
	font-size: 16px;
}

li {
	font-size: 18px;
	line-height: 20px;
}

label {
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 20px;
}
