// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

@mixin button {
    display: inline-block;
    text-align: center;
    min-width: 180px;
    padding: 20px 30px;
    border:none;
    background-color: $color-primary;
    color: $color-text-secondary;
    cursor: pointer;
    transition: .2s ease-in-out;
}
button,
.button {
    @include button;

    &--dark {
        background-color: $color-primary-dark;
        color: $color-text-light;
    }

    &--light {
        background-color: $color-primary-light;
    }

    &--transparent {
        background-color: transparent;
        border: 1px solid $color-secondary;
    }

    &:hover {
        transform: scale(1.06);
    }
}

.slick-dots button{
    &:hover {
        transform: none;
    }
}