.section--home-contact{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0 !important;

    .section__background{
        position: relative;
    }

    .img-wrapper{
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 40vw;
    }
}