.section--home-banner{
    padding-left: 0;
    padding-right: 0;
    padding-top: 0 !important;
    height: 100vh;

    .section__container{
        height: 100%;
        padding: 0;
        max-width: unset;
    }
    
    .section-slider{
        height: 100%;
    }

    .banner-slide{
        height: 100vh;
        position: relative;
    }

    .slide-img{
        position: absolute;
    }

    .slide-content{
        position: absolute;
        top: 10%;
        left: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        height: 90%;

    }

    .content-heading{
        margin-bottom: $padding-md;
    }

    .content-text{
        width: 45%;
    }

    .content-action{
        margin-top: $padding-md;
    }

}