.section--home-banner{
    padding-left: 0;
    padding-right: 0;
    padding-top: 0 !important;
    padding-bottom: 0;
    height: $section-height;

    .section__container{
        padding: 0;
        max-width: unset;
    }

    .section__container, 
    .section-slider, 
    .slick-list,
    .slick-track,
    .banner-slide,
    .slick-slide,
    .slick-slide > div{
        height: 100%;
    }

    .banner-slide{
        position: relative;
    }

    .slide-img{
        position: absolute;
    }

    .slide-content{
        position: absolute;
        top: 10%;
        left: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        height: 90%;
    }

    .slick-dots{
        bottom: 0;
    }

    .content-heading{
        margin-bottom: $padding-md;
    }

    .content-text{
        width: 45%;
    }

    .content-action{
        margin-top: $padding-md;
    }

}