.section--home-contact{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0 !important;
    height: $section-height;

    .section__background{
        position: relative;
    }

    .section__container{
        height: 100%;
    }

    .section__content{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
    }

    .img-wrapper{
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 40vw;
    }
    .contact-box{
        @include content-border;    
        width: fit-content;
    }

    .section__column{
        width: 50%;
    }

    .contact-tagline{
        max-width: 500px;
    }

    .contact-details{
        display: grid;
        grid-template-columns: 120px 1fr;
        margin-top: $padding-md;
         & *{
             margin-top: 0;
             margin-bottom: 0;
         }
    }
}