.section--home-about{
    height: $section-height;

    .section__container{
        height: 100%;
    }

    .section__column{
        width: 50%;

        &:first-child{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    
    .section__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .img-wrapper{
        height: 55%;
        width: 70%;
    }
}