.section--contact{
    
    .img-wrapper{
        height: 500px;
    }

    .contact-box{  
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: $padding-md;
        margin-bottom: $padding-lg;
    }

    .contact-details{
        display: grid;
        grid-template-columns: 120px 1fr;
        margin-top: $padding-md;
         & *{
             margin-top: 0;
             margin-bottom: 0;
         }
    }
}