.section--about{
    .section__container{
        display: flex;
        flex-direction: column;
    }
    .section__row{
        display: flex;
    }
    .img-wrapper{
        height: 500px;
        width: 30%;
    }
    &__column{
        width: 70%;
        padding-left: $padding-md;
    }
    .content-header{
        margin-bottom: $padding-md;
    }
}