.section--services-card{
    .service-card:not(:first-of-type){
        margin-top: $padding-lg;
    }

    .card-content{
        display: flex;
        justify-content: space-between;
        padding-top: $padding-md;
        padding-bottom: $padding-md;
    }

    .img-wrapper{
        height: 500px;
        width: 30%;
    }
    
    .slide-content{
        width: 70%;
        padding-right: $padding-md;
    }

    .display-backwards{
        .slide-content{
            padding-left: $padding-md;
            padding-right: 0;
        }
    }
    
}