
footer,
.footer {
    &__container {
        display: flex;
        flex-direction: column;
        padding: $padding-md $padding-md 0 $padding-md;
        max-width: $max-width;
        margin: 0 auto;
        @include mq($until: tablet) {
            padding: $padding-sm $padding-sm 0 $padding-sm;
        }
    }

    .footer__background {
        background-color: $color-primary-dark;
        height: 100%;
    }

    &__top-container{
        display: grid;
        grid-template-columns: [start] 1fr [mid] 1fr [last] 1fr [end];   
        @include mq($until: desktop) {
            display: flex;
            flex-direction: column;
        }
    }

    .img-wrapper{
        grid-column-start: mid;
        grid-column-end: last;
        max-height: $footer-img-height;
        img{
            object-position: center;
        }
        @include mq($until: desktop) {
            max-height: unset;
            margin-bottom: $padding-sm;
        }
    }
    
    .footer-links{
        display: flex;
        justify-content: center;
    }

    .section__content{
        grid-column-start: last;
        grid-column-end: end;
        display: flex;
        flex-direction: column;
    }

    &__bottom-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        @include mq($until: tablet) {
            flex-direction: column;
            padding: 0;
        }
        
    }
}